<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kt.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".InvitedPersonListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 数字展览 -->
        <activity
            android:name=".sjzl.GuideDigitalExhibitionActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.UploadModelActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.UploadCanvasActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.UploadVideoActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.UploadAudioActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.ModelDiagramActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.VideoDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.AudioDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.CanvasDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.MyWareHouseActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".sjzl.BindMobileActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.ModifyPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.ChangePhoneActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.AccountSecurityActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.MyInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" />
        <activity
            android:name=".sjzl.AboutUsActivity"
            android:exported="false"
            android:theme="@style/Theme.Common" /> <!-- 海外电商 -->
        <activity
            android:name=".hwds.GuideOverseasEcommerceActivity"
            android:exported="false"
            android:theme="@style/Theme.OE" />
        <activity
            android:name=".hwds.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.OE" />
        <activity
            android:name=".hwds.BindMobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.EditInformationActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.ModifyPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.RechargeActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.ModifyLoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.VerifiedNameActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.MessageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".hwds.InvitedPersonActivity"
            android:exported="false" />
        <activity android:name=".hwds.InvitedPersonListActivity"
            android:exported="false"/>
        <activity android:name=".hwds.MyFollowActivity"
            android:exported="false"/>
        <activity android:name=".hwds.MyFansActivity"
            android:exported="false"/>
        <activity android:name=".hwds.MessageFollowActivity"
            android:exported="false"/>
        <activity android:name=".hwds.MessageSystemActivity"
            android:exported="false"/>
    </application>

</manifest>